<mat-card class="container" *ngIf="group?.status !== 'active'; else activatedGroup">
  <mat-card-title>
    {{group?.name}}
    <span *ngIf="inGroup">
    <button class="action-button"
            mat-raised-button
            (click)="leaveGroup()">
      Покинуть
    </button>
  </span>
  </mat-card-title>
  <mat-card-content>
    <p>Стоимость подарка: {{group?.price}} руб.</p>
    <p>Создатель: {{group?.owner?.displayName}}</p>
    <p>{{group?.count}} человек</p>

    <app-user-list [users]="users"></app-user-list>
  </mat-card-content>

  <button mat-raised-button (click)="onActivate()" *ngIf="authService.loggedInId === group?.owner.id">
    Распределить
  </button>
</mat-card>

<ng-template #activatedGroup>
  <h3>Вы дарите подарок: </h3>
  <app-user-item [user]="receiver$ | async" [complete]="true"></app-user-item>
</ng-template>

<ng-template>

</ng-template>