<div class="container" fxFlex="row" fxFlexAlign="center space-around" >
  <form [formGroup]="form" autoComplete="new-password">
    <mat-form-field style="width: 100%" floatPlaceholder="auto">
      <input matInput autoComplete="off"
             type="text"
             placeholder="Название"
             formControlName="name">
    </mat-form-field>
    <mat-form-field style="width: 100%" floatPlaceholder="auto">
      <input matInput autoComplete="off"
             type="password"
             placeholder="Пароль"
             formControlName="password"
             autocomplete="new-password">
    </mat-form-field>
    <mat-form-field style="width: 100%" floatPlaceholder="auto">
      <input matInput autoComplete="off"
             type="number"
             placeholder="Цена подарка"
             formControlName="price">
    </mat-form-field>

    <div>
      <button mat-raised-button class="create-btn" (click)="onCreateClick()">Создать</button>
    </div>
  </form>
</div>
