<div class="container" fxFlex="row" fxFlexAlign="center space-around">
  <form [formGroup]="form">
    <mat-form-field style="width: 100%" floatPlaceholder="auto">
      <input matInput
             width="200px"
             type="text"
             placeholder="Имя"
             formControlName="displayName">
    </mat-form-field>
    <mat-form-field style="width: 100%" floatPlaceholder="auto">
      <input matInput
             width="200px"
             type="email"
             placeholder="Email"
             formControlName="email">
    </mat-form-field>
    <mat-form-field style="width: 100%" floatPlaceholder="auto">
      <input matInput
             width="200px"
             type="password"
             placeholder="Пароль"
             formControlName="password"
             autocomplete="new-password">
    </mat-form-field>
  </form>
  <div>
    <button mat-raised-button class="register-btn" (click)="signUp()">Зарегистрироваться</button>
  </div>
</div>
