.container {
  position: relative;
  margin: 10px;
  width: 100%;
}

.action-button {
  margin-left: 20px;
}

.active {
  color: #44FF44;
}

.pending {
  color: #364e92;
}

.lock-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.group-link {
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  &:hover {
    color: #E74B37;
    border-bottom: 1px solid #E74B37;
  }
}



