<mat-card class="container">
  <mat-card-title>
    {{group.name}}
    <span *ngIf="inGroup; else leaveGroupBtn">
      <button class="action-button"
              mat-raised-button
              (click)="leaveGroup()">
        Покинуть
      </button>
    </span>
  </mat-card-title>
  <mat-card-subtitle *ngIf="inGroup">
    Вы состоите в группе
  </mat-card-subtitle>
  <mat-card-content>
    <p [class]="group.status">{{group.status === 'active' ? 'Активирована' : 'В Ожидании'}}</p>
    <p>Стоимость подарка: {{group.price}}</p>
    <p>Создатель: {{group.owner.displayName}}</p>
    <p>{{group.count}} человек</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="viewGroup()" *ngIf="inGroup">
      Заглянуть
    </button>
  </mat-card-actions>
  <i class="material-icons lock-icon" *ngIf="group.access === 'private'">lock</i>
</mat-card>
<ng-template #leaveGroupBtn>
  <button class="action-button"
          mat-raised-button
          (click)="joinGroup()">
    Присоединиться
  </button>
</ng-template>