<mat-card fxLayout="column" fxLayoutAlign="center center">
  <form [formGroup]="form" fxLayout="column" class="full-width">
    <div>
      <mat-form-field floatPlaceholder="auto" class="full-width">
        <input matInput
               type="text"
               placeholder="Отображаемое Имя"
               formControlName="displayName">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field floatPlaceholder="auto" class="full-width">
          <textarea matInput
                    type="text"
                    placeholder="Ваши интересы/пожелания (поможет людям выбрать для вас подарок)"
                    formControlName="interests">
          </textarea>
      </mat-form-field>
    </div>
  </form>
  <button mat-raised-button (click)="onSubmit()">Обновить</button>
</mat-card>