<div #content class="wrapper">
  <mat-toolbar class="app-toolbar" *ngIf="userName$ | async as userName">
    <span class="user-name" routerLink="/profile" routerLinkActive="profile-active">{{userName}}</span>
    <button mat-button routerLink="/groups" routerLinkActive="link-active">Все группы</button>
    <button mat-button routerLink="/dashboard" routerLinkActive="link-active">Мои группы</button>
    <span class="fill-space"></span>
    <button mat-button (click)="onLogout()">Выйти</button>
  </mat-toolbar>

  <mat-card class="content-container">
    <ng-content select="[content]"></ng-content>
  </mat-card>
</div>
