.wrapper {
  min-height: 100vh;
}

.fill-space {
  flex: 1 1 auto;
}

.link-active {
  background: #bdbdbd;
}

.profile-active {
  border-bottom: 1px solid #bdbdbd;
}

.user-name {
  margin-right: 10px;
  cursor: pointer;
}