<div class="container" fxFlex="row" fxFlexAlign="center space-around">
  <h3>{{data.name}}</h3>
  <form [formGroup]="form">
    <mat-form-field style="width: 100%" floatPlaceholder="auto">
      <input matInput
             width="200px"
             type="password"
             placeholder="Пароль"
             formControlName="password"
             autocomplete="new-password">
    </mat-form-field>
    <div>
      <button mat-raised-button class="register-btn" (click)="onJoinClick()">Присоединиться</button>
      <button mat-raised-button class="register-btn" (click)="onCancelClick()">Отмена</button>
    </div>
  </form>
</div>
