<div class="container">
  <h1 id="head">До Нового Года Осталось:</h1>
  <ul>
    <li><span id="days">{{days$ | async}}</span>Дней</li>
    <li><span id="hours">{{hours$ | async}}</span>Часов</li>
    <li><span id="minutes">{{minutes$ | async}}</span>Минут</li>
    <li><span id="seconds">{{seconds$ | async}}</span>Секунд</li>
  </ul>
</div>
