* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  color: #FFF;
  padding: 15px;
  text-align: center;
  //background: rgba(0,0,0,0.5);
  font-family: "Roboto", serif;
}

h1 {
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}