<div class="container"
     fxLayout="column">
    <div *ngIf="groups && groups.length > 0">
        <app-group-item *ngFor="let group of groups" [group]="group">
        </app-group-item>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner *ngIf="groups === null">
        </mat-spinner>
    </div>
    <div *ngIf="groups && groups?.length <= 0">
        <h3>Здесь пока нет групп</h3>
    </div>
</div>
