

.app-toolbar {
    z-index: 70;
}

.wrapper {
    background: url('../assets/tile-bg.jpg') rgba(0,0,0,0.3);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    min-height: 100vh;
}