<mat-card class="container" *ngIf="user; else loading">
  <mat-card-title>{{user?.displayName}}</mat-card-title>
  <mat-card-content>
    <p>{{user?.email}}</p>
    <p *ngIf="complete">{{user?.interests}}</p>
  </mat-card-content>
</mat-card>
<ng-template #loading>
  <mat-card class="container">
    <mat-spinner></mat-spinner>
  </mat-card>
</ng-template>
