<div *ngIf="users && users.length > 0">
    <app-user-item *ngFor="let user of users" [user]="user"></app-user-item>
</div>

<div fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner *ngIf="!users || users.length <= 0">
    </mat-spinner>
</div>