<app-base-page>
  <div class="container" fxLayout="row" fxLayoutAlign="center center" content>
    <div class="form-container">
      <app-profile-form (submit)="onUpdateProfile($event)" [profile]="profile$ | async"></app-profile-form>
    </div>
  </div>
</app-base-page>