.container {
  height: 100vh;
  background: #000 url("../../assets/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.countdown {
  display: flex;
}

.login-btn {
  z-index: 50;
}