<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <div class="countdown">
        <app-countdown></app-countdown>
    </div>
    <div class="login-btn">
        <button mat-raised-button (click)="onLoginClick()" class="login-btn">Войти</button>
    </div>
    <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
</div>
