<div class="container" fxFlex="row" fxFlexAlign="center space-around" >
  <form [formGroup]="form" autoComplete="new-password">
    <mat-form-field style="width: 100%" floatPlaceholder="auto">
      <input matInput autoComplete="off"
             type="text"
             placeholder="Название"
             formControlName="name"
             [matAutocomplete]="auto"
             (keyup)="onSearch($event)">
    </mat-form-field>
    <mat-autocomplete #auto>
      <mat-option *ngFor="let option of (groupsNames$ | async)"
                  [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>

    <mat-form-field style="width: 100%" floatPlaceholder="auto">
      <input matInput autoComplete="off"
             type="password"
             placeholder="Пароль"
             formControlName="password"
             autocomplete="new-password">
    </mat-form-field>

    <div>
      <button mat-raised-button class="create-btn" (click)="onJoinClick()">Присоединиться</button>
    </div>
  </form>
</div>
