<app-base-page>
  <div class="container" content>

    <div class="btn-container" fxLayout="row" fxLayoutAlign="space-around center">
      <div>
        <button mat-raised-button (click)="onCreateGroupClick()">Создать Группу</button>
      </div>
      <div>
        <button mat-raised-button (click)="onJoinGroupClick()">Присоединиться</button>
      </div>
    </div>

    <app-group-item-list [groups]="groups$ | async"></app-group-item-list>

  </div>
</app-base-page>




