<mat-card>
  <mat-card-title>
    Вы уверены, что хотите {{data.action}}?
  </mat-card-title>
  <mat-card-content>
    <button mat-raised-button (click)="onConfirm()">
      Да
    </button>
    <button mat-raised-button (click)="onCancel()">
      Нет
    </button>
  </mat-card-content>
</mat-card>
