<div class="container" fxFlex="row" fxFlexAlign="center space-around">
  <form [formGroup]="form">
    <mat-form-field style="width: 100%" floatPlaceholder="auto">
      <input matInput
             width="200px"
             type="email"
             placeholder="Email"
             formControlName="email">
    </mat-form-field>
    <mat-form-field style="width: 100%" floatPlaceholder="auto">
      <input matInput
             width="200px"
             type="password"
             placeholder="Пароль"
             formControlName="password">
    </mat-form-field>
  </form>

  <div>
    <button mat-raised-button class="login-btn" (click)="onEmailLogin()">Войти</button>
  </div>

  <div>
    <button class="loginBtn loginBtn--facebook" (click)="onFacebookLogin()">
      Войти через Facebook
    </button>
  </div>
  <div>
    <button class="loginBtn loginBtn--google" (click)="onGoogleLogin()">
      Войти через Google
    </button>
  </div>

  <button mat-button class="register-btn" (click)="onRegister()">Зарегистрироваться</button>

</div>

